.wrapper {
  margin: 0;
}

a {
  cursor: pointer;
}
.title-area {
  font-size: 25px;
  margin-top: 1%;
  margin-left: 25%;
  width: 50%;
  display: inline-grid;
  text-align: center;
}

.login-area {
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
  display: inline-grid;
}

.login-area input {
  border: 2px solid lightblue;
  margin-bottom: 10px;
  height: 30px;
  text-align: left;
}

.sns-login {
  display: inline-flex;
  height: 40px;
}

.sns-login .naver-login {
  background: url("../img/login/naver_login_button.PNG") no-repeat;
  background-size: contain;
  width: 100%;
  margin-left: 30%;
}

.sns-login .kakao-login {
  background: url("../img/login/kakao_login_button.png") no-repeat ;
  background-size: contain;
  width: 150%;
  margin-right: 15%;
}

.button {
  background: lightgray;
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: 35%;
}


.join-area {
  display: block;
}
.join-area h2 {
  margin-top: 10px;
  margin-left: 40%;
  font-size: 15px;
}
.join-area input {
  display: block;
  border: 2px solid lightblue;
  height: 30px;
  text-align: left;
  margin-top: 6px;
  margin-left: 40%;
  width: 20%;
}

.join-hr {
  margin-left: 40%;
  width: 20%;
  color: lightgray;
}

.term-input input{
  display: none;
}

.term-input label {
  font-size: 10px;
}